@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";

h4 {
  margin: 0;
}
p {
  margin: 0;
}
.side_video {
  margin: auto;
  width: 90%;
  margin-top: 40px;
  &__ {
    text-decoration: none;
  }

  @media #{$desktop} {
    justify-self: flex-end;
    width: 40%;
  }
  &__card {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    color: $black;
  }
  &__img {
    width: 160px;
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
  }
  &__title {
    color: #afafaf;
    font-weight: 1000;
  }
  &__text {
    margin: 10px;
  }
  &__channel {
    margin-top: 10px;
  }
}
