@font-face {
  font-family: Avenir;
  src: url("../../Assets/_Global\ Font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: Avenir_bold;
  src: url("../../Assets/_Global\ Font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf");
}
