$tiny-mobile: (
  max-width: 300px
);

$small-mobile: (
  max-width: 415px
);
$mobile: (
  max-width: 767px
);

$tablet-vertical: (
  min-width: 768px
);

$tablet-horizontal: (
  min-width: 950px
);

$desktop: (
  min-width: 1200px
);
