.form {
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;

  & form {
    width: 80%;
  }
  &__title {
    margin-left: 10%;
    margin-bottom: 3%;
  }
  &__pic {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    align-self: flex-start;
    margin-left: 0;
    margin-top: 10px;
    // align-items: center;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
  }
  &__wrapper {
    margin: 5% 0 10% 0;
  }
  &__text {
    display: flex;
    flex-direction: column;
    // width: 50%;
  }
  &__comment {
    resize: none;
    cursor: pointer;
    padding: 14px 20px;
    // width: 50%;
    // color: $black-1;
    border-radius: 4px;
    border: silver solid 1px;
    &::placeholder {
      color: black;
    }
  }

  &__name::placeholder {
    color: black;
  }
  &__name::active {
    border: black solid 1px;
  }
  &__button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid silver;
    border-radius: 4px;
    box-sizing: border-box;
    background: aquamarine;
    color: beige;
    font-weight: bold;
  }
}
