@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";

label {
  color: #afafaf;
  font-weight: 1000;
}
.title {
  margin: 5%;
}
.form {
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  border-bottom: 1px solid $mercury;
  & form {
    width: 90%;
  }
  &__tablet {
    margin-bottom: 1rem;
    @media #{$tablet-vertical} {
      display: flex;
      font-display: row;
      justify-content: space-between;
    }
  }
  &__title {
    margin-left: 10%;
    margin-bottom: 3%;
  }
  &__pic {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    align-self: flex-start;
    margin-left: 0;
    margin-top: 10px;
    object-fit: cover;
  }
  &__wrapper {
    margin: 5% 0 10% 0;
  }
  &__text {
    display: flex;
    flex-direction: column;
    // width: 50%;
    @media #{$tablet-vertical} {
      width: 100%;
    }
  }
  &__comment {
    resize: none;
    cursor: pointer;
    padding: 14px 20px;
    // width: 50%;
    // color: $black-1;
    border-radius: 4px;
    border: #e1e1e1 solid 2px;
    height: 75px;
    border: 2px solid $mercury;
    background-color: $alabaster;
    color: $black;
    &::placeholder {
      color: $black;
    }
    @media #{$tablet-vertical} {
      height: 20px;
      width: 88%;
      // margin-right: 5%;
    }
  }

  &__name::placeholder {
    color: $black;
  }
  &__name::active {
    border: $black solid 1px;
  }

  &__button {
    padding: 12px 20px;
    width: 100%;
    margin: 0;
    display: inline-block;
    border: solid 1px;
    margin-top: 1.2rem;
    border-radius: 4px;
    box-sizing: border-box;
    background: $brainflix-aqua;
    color: $mercury;
    font-weight: bold;
    @media #{$tablet-vertical} {
      width: 35%;
    }
  }
}

.comments {
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 90%;
  flex-direction: column;

  &__block {
    display: flex;
    padding-top: 0;
    padding-bottom: 3px;
    min-height: 70px;
    border-bottom: 1px solid $mercury;
  }
  &__pic {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    position: absolute;
  }
  &__top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
  }
  &__name {
    margin-left: 40px;
    font-weight: bold;
  }
  &__text {
    margin-left: 40px;
    width: 100%;
  }
  &__msg {
    margin-left: 40px;
  }
  &__timestamp {
    color: $silver;
    padding-left: 10px;
  }
}
