@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";

.upload {
  width: 90%;
  margin: auto;

  & p {
    color: $silver;
  }
  // border-bottom: 1px solid $mercury;

  &__title {
    font-size: 3rem;
    margin: 0;
    color: $black;
    &--wrapper {
      width: 100%;
      margin: 0;
      border-bottom: 2px solid $mercury;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    // justify-content: ;
    // height:    vh;
    // margin-left: 20px;
    border-bottom: solid 1px $mercury;
    @media #{$tablet-vertical} {
      flex-direction: row;
      height: 200px;
      height: 50%;
    }
    width: 100%;
    // height: 40vh;
  }
  &__img {
    width: 100%;
    border-radius: 5px;
    // margin-right: 20px;
    &--wrapper {
      // margin: 2%;
      @media #{$tablet-vertical} {
        width: 56%;
      }
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    // margin: 2%;
    justify-self: end;
    // height: 75%;
    // height: ;
    // margin-right: 2%;
    @media #{$tablet-vertical} {
      margin-left: 20px;
    }
  }
  &__name {
    resize: none;
    cursor: pointer;
    padding: 10px 2px;
    width: 100%;
    //// color: $black-1;
    border-radius: 4px;
    border: #e1e1e1 solid 2px;
    // height: 32px;
    border: 2px solid $mercury;
    background-color: $alabaster;
    color: $black;
    margin: 0;
    height: 25%;
    &::placeholder {
      color: $black;
    }
  }
  &__info {
    resize: none;
    cursor: pointer;
    padding: 2px 2px;
    width: 100%;
    //// color: $black-1;
    border-radius: 4px;
    border: #e1e1e1 solid 2px;
    // height: 10px;
    // padding-top: 300px;
    border: 2px solid $mercury;
    background-color: $alabaster;
    // height: 100%;
    margin-top: 0;
    padding-bottom: 10%;
    color: $black;
    &__wrapper {
      height: 50px;
      margin: 0;
    }
    &::placeholder {
      color: $black;
    }
  }
}
.publish {
  // background: blue;
  color: $white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__place_holder {
    @media #{$mobile} {
      display: none;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    // margin-top: 10px;
    @media #{$mobile} {
      flex-direction: column-reverse;
      width: 100%;
    }
  }
  &__button {
    justify-self: flex-end;
    background-color: $brainflix-aqua;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    font-size: 1.5rem;
    color: $white;
    padding-bottom: 35px;
    padding-top: 15px;
    // margin-left: 90%;
    // margin-right: 10%;
    @media #{$mobile} {
      width: 100%;
    }
  }
  &__cancel {
    color: $brainflix-aqua;
    font-size: 1.5rem;
    padding-top: 15px;
    margin-right: 30px;
    @media #{$mobile} {
      width: 100%;
      text-align: center;
    }
  }
}
