// @import "../../Styles/_globalStyle.scss";
@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";

* {
  font-family: Avenir;
  font-size: 16px;
}
p {
  color: $black;
  font-size: 1.2rem;
}
.bottom {
  @media #{$desktop} {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__left {
    @media #{$desktop} {
      width: 75%;
      display: flex;
      flex-direction: column;
      border-right: 1px solid $mercury;
      margin-right: 30px;
      // justify-content: space-between;
    }
  }
}
