// @import "../../Styles/_globalStyle.scss";
@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";

* {
  font-family: Avenir;
  font-size: 16px;
}
p {
  color: $black;
  font-size: 1.2rem;
}
.main {
  &__bg {
    background-color: #000;
  }
  &__video {
    width: 110%;
    position: relative;
    // height: 45vh;
    padding: 0;
    border: 0;
    margin: 0;
    // margin: -50;
    // padding: 0;
    // height: (9/ 16) * 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 0;
    // @media #{$tablet-vertical} {
    //   width: 90%;
    //   margin: auto;
    //   // height: 400px;
    //   // background-repeat: no-repeat;
    // }
    @media #{$tablet-vertical} {
      width: 90%;
      margin-left: 5%;
    }
    @media #{$desktop} {
      width: 80%;
      margin-left: 10%;
    }
  }
  // &__still--wrapper {
  //   // position: relative;
  //   // z-index: 1;
  // }

  &__settings {
    width: 100%;
    display: flex;
    flex-direction: row;
    // margin: 5%;
    position: relative;
    // z-index: 1;
    display: flex;
    flex-direction: row;
  }
  &__interact {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    @media #{$tablet-vertical} {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
    @media #{$desktop} {
      width: 80%;
      margin-left: 10%;
    }
  }
  &__play--wrapper {
    width: 80px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
  }
  &__play--icon {
    background-image: url("../../Assets/Icons/SVG/Icon-play.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 25%;
    background-size: 1.5rem;
    position: absolute;
    height: 50px;
    width: 140px;
    opacity: 1;
    z-index: 1;
  }
  &__play {
    width: 80px;
    height: 50px;
    border-radius: 5px;
    background-color: black;
    opacity: 0.6;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 1;
  }

  &__bar--wrapper {
    width: 100%;
    position: relative;
    height: 50px;
    margin-left: 35px;
    // bottom: 20px;
  }
  &__bar {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    position: absolute;
  }
  &__duration {
    position: absolute;
    color: $mercury;
    right: 5px;
    top: 15px;

    @media #{$mobile} {
      display: none;
    }
  }
  &__bar--icon {
    background-color: black;
    width: 80%;
    height: 6px;
    border-radius: 5px;
    position: absolute;
    bottom: 23px;
    margin-left: 10%;
    @media #{$tablet-vertical} {
      width: 65%;
      margin-left: 5%;
    }
    @media #{$tablet-horizontal} {
      width: 75%;
      margin-left: 10%;
    }
  }
  &__volume--wrapper {
    width: 200px;
    height: 50px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
  }
  &__volume {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    position: absolute;
  }

  &__volume--img1 {
    width: 70px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    margin-right: 0;
    margin-left: 0;
    right: -10px;
    // bottom: 20px;
    // right: 25px;
    // z-index: 0;
    background-image: url("../../Assets/Icons/SVG/Icon-volume.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 25px;
    background-size: 1.6rem;
    @media #{$tablet-vertical} {
      right: 0px;
    }
  }
  &__volume--img2 {
    width: 70px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    margin-right: 0;
    margin-left: 0;
    left: -10px;
    // z-index: 0;
    background-image: url("../../Assets/Icons/SVG/Icon-fullscreen.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 25px;
    background-size: 1.5rem;
    @media #{$tablet-vertical} {
      left: 0px;
    }
  }
}
.info {
  width: 90%;
  margin: auto;
  @media #{$desktop} {
    width: 95%;
    margin-left: 5%;
  }
  &__top {
    border-bottom: 1px solid $mercury;
  }
  &__title {
    font-size: 2.2rem;
    font-family: Avenir_bold;
    color: $black;
    margin: 0;
    margin-top: 20px;
  }
  &__user {
    display: flex;
    margin-top: 20px;
  }
  &__channel {
    font-weight: 1000;
  }
  &__timestamp {
    margin-left: 20px;
    color: $silver;
  }
  &__stats {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__likes {
    margin-left: 50px;
  }
  &__description {
    margin-top: 20px;
    line-height: 1.5rem;
    margin-bottom: 30px;
    @media #{$desktop} {
      width: 90%;
      // margin-left: 5%;
    }
  }
  &__views {
    display: flex;
    flex-direction: row;
  }
  &__icon--views {
    height: 1rem;
    width: 1.5rem;
    background-repeat: no-repeat;
    background-image: url("../../Assets/Icons/SVG/Icon-views.svg");
  }
  &__likes {
    display: flex;
    flex-direction: row;
  }
  &__icon--likes {
    width: 1.5rem;
    height: 1rem;
    background-image: url("../../Assets/Icons/SVG/Icon-likes.svg");
    background-repeat: no-repeat;
  }
}
.bottom {
  @media #{$desktop} {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__left {
    @media #{$desktop} {
      width: 75%;
      display: flex;
      flex-direction: column;
      border-right: 1px solid $mercury;
      margin-right: 30px;
      // justify-content: space-between;
    }
  }
}
