// @import "../../Styles/_globalStyle.scss";
@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";

* {
  font-family: Avenir;
  font-size: 16px;
}
p {
  color: $black;
  font-size: 1.2rem;
}
