* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Avenir;
  color: $black-1;
}
html {
  margin: 0;
  text-align: justify;
  font-size: 16px;
}
p {
  margin: 0;
  text-align: justify;
  font-size: 1rem;
}
h1 {
  font-size: 2.5rem;
}
h2,
h3,
h4 {
  font-size: 1.6rem;
  margin: 0;
  text-align: justify;
}
