@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";

* {
  font-family: Avenir;
}

.header {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 90%;
  margin: auto;
  &__logo {
    height: 200px;
    width: 50%;
    background-image: url(../../Assets/Logo/Logo-brainflix.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: -130px;
  }
  &__search {
    width: 90%;
    border-radius: 5px;
    height: 50px;
    padding: 15px 20px;
    font-size: 1.5rem;
    border: 2px solid $mercury;
    background-color: $alabaster;
    color: $black;
    &::placeholder {
      color: $black;
    }
  }
  // &__upload {
  //   width: 200px;
  //   height: 100px;
  //   background-image: url(../../Assets/Images/Mohan-muruge.jpg);
  //   background-repeat: no-repeat;
  // }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% auto;
  }

  &__user {
    height: 75px;
    width: 75px;
    background-color: #bbb;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    // position: absolute;
    // background-image: url("../../../");
    background-image: url(../../Assets/Images/Mohan-muruge.jpg);
    background-size: cover;
  }
  &__upload {
    height: 75px;
    width: 75%;
    background-color: $brainflix-aqua;
    border: 1px;
    color: $white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
  }
}
