.video {
  width: 100%;
  height: 500px;
  background: blue;
  &__img {
    background-image: url(../../Assets/Images/video-list-0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
    margin: auto;
    background-size: cover;
  }
}
